**/*
!package.json
!README.md
!LICENSE.txt
!extension.js
!lib/**
!docs/onnx-workbench-design.md
!docs/onnx-workbench-plan.md
!docs/onnx-workbench-manual-qa.md
!netron/**
!node_modules/jszip/package.json
!node_modules/jszip/lib/**
!node_modules/pako/package.json
!node_modules/pako/index.js
!node_modules/pako/lib/**
!node_modules/lie/package.json
!node_modules/lie/lib/**
!node_modules/immediate/package.json
!node_modules/immediate/lib/**
!node_modules/readable-stream/package.json
!node_modules/readable-stream/readable.js
!node_modules/readable-stream/lib/**
!node_modules/core-util-is/**
!node_modules/inherits/**
!node_modules/isarray/**
!node_modules/process-nextick-args/**
!node_modules/safe-buffer/**
!node_modules/string_decoder/**
!node_modules/util-deprecate/**
!node_modules/setimmediate/**
!node_modules/onnx-proto/package.json
!node_modules/onnx-proto/dist/**
!node_modules/onnx-proto/LICENSE
!node_modules/onnx-proto/node_modules/protobufjs/**
!node_modules/onnx-proto/node_modules/long/**
!node_modules/@protobufjs/aspromise/**
!node_modules/@protobufjs/base64/**
!node_modules/@protobufjs/codegen/**
!node_modules/@protobufjs/eventemitter/**
!node_modules/@protobufjs/fetch/**
!node_modules/@protobufjs/float/**
!node_modules/@protobufjs/inquire/**
!node_modules/@protobufjs/path/**
!node_modules/@protobufjs/pool/**
!node_modules/@protobufjs/utf8/**
!node_modules/onnxruntime-common/package.json
!node_modules/onnxruntime-common/dist/cjs/**
!node_modules/onnxruntime-common/README.md
!node_modules/onnxruntime-node/package.json
!node_modules/onnxruntime-node/dist/**
!node_modules/onnxruntime-node/bin/napi-v6/linux/x64/**
!node_modules/onnxruntime-node/bin/napi-v6/win32/x64/**
!node_modules/onnxruntime-node/README.md
